# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.
Plugins>PANELJ, "rFRC error mapping", com.HIT.weisongzhao.PANELJ_
Plugins>PANELJ, "rFRC resolution mapping", com.HIT.weisongzhao.PANELJ_0143
Plugins>PANELJ, "-"
Plugins>PANELJ, "Signle-frame rFRC error mapping (beta)", com.HIT.weisongzhao.sPANELJ_
Plugins>PANELJ, "Signle-frame rFRC resolution mapping (beta)", com.HIT.weisongzhao.sPANELJ_0143
Plugins>PANELJ, "-"
Plugins>PANELJ, "About PANEL", com.HIT.weisongzhao.utils.About_